/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
1.jpg
2.jpg
3.jpg
hx4OEKC6xzepsgHmx6TDYme4tBvYPHk23JEZ7DFt.jpeg
